@import 'tailwindcss';

@theme {
  --color-bg-subtle: #efeff0;
  --color-border-subtle: #afb1b6;
  --color-text-normal: #19191b;
  --color-text-subtle-1: #61646b;
  --color-text-subtle-2: #afb1b6;
  --color-link: #4764c5;
  --font-display: var(--font-inter), 'Inter', sans-serif;
  --font-sans: var(--font-work-sans), 'Work Sans', sans-serif;
}

@layer base {
  html,
  body {
    @apply bg-white text-black;
    font-family: var(--font-work-sans), 'Work Sans', sans-serif;
  }
}
